.App {
  background: antiquewhite;
}
.list {
  height: 300px;
  width: 250px;
  line-height: 300px;
  text-align: center;
  border: 1px black solid;
  float: left;
  background-color: orange;
  margin-left: 30px;
}